flask~=2.3.2
flask-sqlalchemy
flask-migrate
flask-wtf
flask-login
wtforms~=3.0.1
requests~=2.31.0
python-dotenv~=1.0.0
pytest~=7.4.0
pytest-mock
gunicorn
pytz~=2023.3
cryptography
influxdb-client
reactivex~=4.0.4
Werkzeug~=2.3.3
APScheduler~=3.10.1
alembic~=1.11.1
SQLAlchemy~=2.0.15