{% extends "base.html" %}
{% block title %}
    Devices
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <div class="flex justify-start mb-2">
        <a href="{{ url_for("main.add_device") }}"><button type="button"
                class="text-white bg-accent-2-space-cadet hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                id="add-btn">
            Add device
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
            </svg>
            <span class="sr-only">Add device</span>
        </button></a>
    </div>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Device name
                </th>
                <th scope="col" class="px-6 py-3">
                    MAC
                </th>
                <th scope="col" class="px-6 py-3">
                    IP
                </th>
                <th scope="col" class="px-6 py-3">
                    Last modified
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
                {% for device in devices %}
                    <tr data-device-id="{{ device.id }}" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ device.device_name }}
                        </th>
                        <td class="px-6 py-4">
                            {{ device.mac_address }}
                        </td>
                        <td class="px-6 py-4">
                            {{ device.ip_address }}
                        </td>
                        <td class="px-6 py-4">
                            {{ device.valid_from }}
                        </td>
                        <td class="px-6 py-4">
                            <a href="{{ url_for("main.edit_device", device_id=device.id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}