{% extends "base.html" %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Sign in to your account
            </h1>
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-6">
                    {{ form.email.label(class_="form-label") }} {{ form.email(class_="form-input") }}
                </div>
                <div class="mb-6">
                    {{ form.password.label(class_="form-label") }} {{ form.password(class_="form-input") }}
                </div>
                <div class="mb-6 flex items-center justify-between">
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                            {{ form.remember_me(class_="form-input-checkbox") }}
                        </div>
                        <div class="ml-3 text-sm">
                            {{ form.remember_me.label(class_="text-gray-500 dark:text-gray-300") }}
                        </div>
                    </div>
                    <a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot
                        password?</a>
                </div>
                <button type="submit"
                        class="form-btn" id="add-btn">
                    Sign in
                </button>
                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    Don’t have an account yet? <a href="#"
                                                  class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign
                    up</a>
                </p>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

{% endblock %}