{% extends "base.html" %}

{% block title %}
    Add device
{% endblock %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}

    <div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="form-device">
            <form class="space-y-4" method="POST">
                {{ form.hidden_tag() }}
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Settings
                </h1>
                <div class="mb-6">
                    {{ form.pihole_domain.label(class_="form-label") }} {{ form.pihole_domain(class_="form-input") }}
                </div>
                <div class="mb-6">
                    {{ form.pihole_api_token.label(class_="form-label") }} {{ form.pihole_api_token(class_="form-input") }}
                </div>
                <button type="submit"
                        class="form-btn" id="add-btn">
                    Save changes
                </button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}

{% endblock %}